
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Tipografía principal */
    background-color: black;
    color: white; /* Color de texto predeterminado */
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif; /* Para títulos */
    color: white;
    margin-bottom: 20px;
    
   
}

p, a, li {
    font-family: 'Inter', sans-serif; /* Para textos generales */
    color: white;
    line-height: 1.6;
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0; /* Espaciado entre secciones */
}

/* Hero Section */
.hero-section {
    min-height: 80vh; /* Asegura que tenga altura suficiente */
    display: flex;
    align-items: center;
}

.hero-image {
    width: 100%;
    max-width: 693px;
    height: auto;
    object-fit: cover;
}

/* Best Sellers Section */
.bestSeller {
    padding: 80px 0; /* Espaciado superior e inferior */
}

.shop-now-btn {
    display: inline-flex;
    align-items: center;
    padding-top: 24px;
    
    gap: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #B29F6E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.shop-now-btn:hover {
    color: #ffffff !important;
}

.shop-now-btn .arrow {
    transition: transform 0.3s ease;
    font-size: 22px;
}

.shop-now-btn:hover .arrow {
    transform: translateX(5px);
}

/* Gift Card Section */
.giftcard {
    background: linear-gradient(251deg, #2B3931 24.52%, rgba(24, 25, 25, 0.75) 98.35%);
}



/* Botones Personalizados */
.btn-custom {

    margin-bottom: 20px;
    background-color: #816D2B;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    
}
.btn-custom:hover {
    background-color: #897842;
}


/* Newsletter Section */
.newsletter-section {
    background: linear-gradient(250.91deg, #2B3931 24.52%, rgba(24, 25, 25, 0.75) 98.35%);
    padding: 80px 0;
}

.newsletter-section .form-control {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 12px;
    border-radius: 4px;
}

.newsletter-section .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.newsletter-section .form-check-input {
    background-color: transparent;
    border: 1px solid #ffff;
}

.newsletter-section .form-check-input:checked {
    background-color: #816D2B;
    border-color: #816D2B;
}

.newsletter-section .btn {
    background-color: #816D2B;
    color: white;
    border-radius: 4px;
    padding: 10px 27px;
    width: 110px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-section .btn:hover {
    background-color: #897842;
}

/* Footer */
.footer-section {
    background-color: #181919;
    padding: 64px 0 32px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #897842;
}

/* Responsividad */
@media (max-width: 768px) {
    .hero-section {
        min-height: 60vh;
    }

    .hero-title {
        font-size: 32px;
    }

    .shop-now-btn {
        font-size: 18px;
        
    }

    .Testimonios .card {
        margin-bottom: 20px;
    }

    .newsletter-section .btn {
        width: 100%;
    }

}   .bestSeller {
    padding-top: 80px; /* Aumenta el padding-top para agrandar la sección */
    padding-bottom: 80px; /* Aumenta el padding-bottom si deseas más espacio abajo */
}

.bestSeller h5 {
    color: black;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}



/* Estilos de la imagen */
.card {
    overflow: hidden;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.02);
}

/* Animación de la tarjeta */
.animate-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para las tarjetas de testimonios */
.testimonial-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes de usuarios */
.testimonial-card img {
    border: 2px solid #816D2B; /* Borde dorado */
}

   /* Ajuste de imágenes */
   .image-container {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Animación */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.product-item {
    text-align: left;
}
.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}
.price {
    font-size: 14px;
    color: #ccc;
}
.discounted-price {
    text-decoration: line-through;
    color: #777;
    margin-right: 5px;
}

.breadcrumb {
    background: transparent;
    font-size: 14px;
}
.breadcrumb-item a {
    color: #ccc;
    text-decoration: none;
}
.breadcrumb-item a:hover {
    color: white;
}
.sidebar {
    background: #111;
    padding: 20px;
}
.sidebar h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
.divider {
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}
.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 5px 0;
    font-size: 14px;
}
.sidebar a:hover {
    color: white;
}
/* Galería de imágenes cuadradas */
.gallery img {
    width: 100%;
    height: 200px; /* Tamaño uniforme */
    object-fit: cover; /* Mantiene las imágenes sin deformaciones */
    aspect-ratio: 1/1; /* Garantiza que sean cuadradas */
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
}

/* Estilos para GIFT CARD */
.card-container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
}
.gift-img {
    width: 100%;
    border-radius: 10px;
}
.btn-outline-light {
    border-color: #e0e0e0;
    color: #e0e0e0;
}
.btn-outline-light:hover {
    background-color:#816D2B;
    color: #ffffff;
}
.amount-btn {
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    background: none;
    color: #e0e0e0;
}
.amount-btn:hover {
    background-color: #816D2B;
    color: #ffffff;
}
.quantity-btn {
    border: none;
    background: none;
    font-size: 20px;
    color: #e0e0e0;
    padding: 5px 15px;
    cursor: pointer;
}
.quantity-btn:hover {
    color: #816D2B;
}
.icon-img {
    width: 24px;
    min-height: 24px;
}
.about-section{
    min-height: 800px;
    p{
        color: #e4e4e4;
    }
}
.about-image{
    width: 100%;
    height: 60vh;
}

/* PRODUCTS DETAILS */

.btn-outline-custom {
    border-color: white; /* Borde blanco */
    color: white; /* Texto blanco */
    background-color: transparent; /* Fondo transparente */
}
.btn-outline-custom:hover {
    background-color: white; /* Fondo blanco al hacer hover */
    color: black; /* Texto negro al hacer hover */
}
.accordion-button:not(.collapsed),
.accordion-button {
    background-color: #0d0d0d; /* Fondo negro */
    color: white; /* Texto blanco */
}
.accordion-button:not(.collapsed) {
    background-color: #0d0d0d; /* Fondo negro cuando está abierto */
    color: white; /* Texto blanco cuando está abierto */
}
.accordion-body {
    background-color: #0d0d0d; /* Fondo negro */
    color: white; /* Texto blanco */
    border-top: none; /* Elimina el borde superior */
}
.accordion-item {
    border: none;
}